* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
      height: 100%;
  }
  
  body {
    background: #E7E3E3;
  }
  
  .container {
    width: ;
    background: ;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background: #5A819E;
    height: 50px;
  }
  
  .content {
    background: #FFE5C4;
    padding: 10px 80px;
  }
  
  .inner-container {
    /* background: #6CC2BD; */
    background: red;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1px;
    
    -webkit-box-shadow: 0px 0px 3px 0px #6CC2BD;
    -moz-box-shadow: 0px 0px 3px 0px #6CC2BD;
    box-shadow: 0px 0px 3px 0px #6CC2BD;
    
  }
  
  .square {
    background: #FFF;
    padding: ;
  }
  
  /* PRODUCT SECTION AND DETAILS SECTION */
  
  .product-section, .details-section {
    background: red;
    display: grid;
    grid-gap: 1px;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .product-section > *, .details-section > * {
      background: #FFF;
  }

  /* PRODUCT SECTION */
  
  .product {
    width: 100%;
    height: 400px;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .other-posts {
    background: ;
  }
  
  .description {
    background: ;
  }

  


