@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
      height: 100%;
  }
  
  body {
    background: #E7E3E3;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    width: ;
    background: ;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background: #5A819E;
    height: 50px;
  }
  
  .content {
    background: #FFE5C4;
    padding: 10px 80px;
  }
  
  .inner-container {
    /* background: #6CC2BD; */
    background: #6CC2BD;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1px;
    border: 1px solid #6CC2BD;
    
    -webkit-box-shadow: 0px 0px 3px 0px #6CC2BD;
    -moz-box-shadow: 0px 0px 3px 0px #6CC2BD;
    box-shadow: 0px 0px 3px 0px #6CC2BD;
    
  }
  
  .square {
    background: #FFF;
    padding: ;
  }
  
  /* PRODUCT SECTION AND DETAILS SECTION */
  
  .product-section, .details-section {
    background: #6CC2BD;
    display: grid;
    grid-gap: 1px;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .product-section > *, .details-section > * {
      padding: 20px;
      background: #FFF;
  }

  /* PRODUCT SECTION */
  
  .product {
    width: 100%;
    height: 400px;
    background: ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .other-posts {
    background: ;
  }

  .other-posts > p, h2, h3, h4, .comment, .reply {
    margin: 15px 5px;
  }

  .title {
      margin: ;
  }

  .pictures {

    /* display: flex;
    justify-content: space-between;
    align-items: space-between;
    
    align-items: flex-start;
    height: ; */

  }

  .carrousel {
    display: flex;
    justify-content: space-around;

    align-items: flex-start;
    position: relative;
    background: ;
  }


  .slider {
    border: 1px solid blue;
    border-radius: 50px;
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    color: ;
}

  .left, .right {
    top: 50%;
    transform: translateY(-50%);
  }

  .left {
      left: -2%;
  }


  .right {
      right: -2%;
  }

  .post-container {
      display: flex;
      flex-direction: column;
      width: calc(100% / 4);

      border-radius: 3px;
      border: 1px solid #6CC2BD;
      margin: 5px;
      background: ;
  }
  
  .picture {
      background: ;
      flex: ;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .post-details {
      border-top: 1px solid #6CC2BD;
      padding: 10px;
  }

  .post-details * {
    margin: 4px 0;
  }

  .post-details > :first-child {
    font-weight: 600;
    color: ;
  }

  .shipment, .product-name {
    font-size: 0.8em;
  }

  .shipment {
    color: #20A346;
  }

  .product-name {

  }


 
.image {

    height: 150px;
    min-width: 100%;
    object-fit: contain;
    

}

.characteristics {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.comment-reply {
  margin-bottom: 40px;
  background: ;
}

.comment, .reply {
  display: flex;
  align-items: flex-start;
}

.comment-icon {
  width: 20px;
  margin-right: 10px;
}

.reply {
  color: #7A7A7A;
}

  .description {
    background: ;
  }

  


